/* body {
  background: linear-gradient(160deg, #6035d9 13%, #d54ee6 69%, #ff97ba) #6035d9;
  background-repeat: no-repeat;
} */
.App {
  text-align: center;
  margin-top: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about {
  margin-top: 20px;
  font-size: medium;
  font-style: italic;
}

.col1 {
  margin-top: 20px;
}

.textColor {
  color: blueviolet;
}

.formStyle {
  text-align: left;
  margin: 30px 50px 50px;
  border-top-width: medium;
  border-top-style: groove;
  padding-top: 10px;
}

.error {
  color: red;
  font-size: 13px;
  font-weight: 400;
}
